
<!-- <div class="container-fluid container-fluid-custom py-md-5 mb-5 h-100"> -->
    <div class="container-fluid container-fluid-custom d-flex align-items-center justify-content-center" style="height: 100vh;">
        <main style="width: 100%;">
            <div class="row py-md-5 text-center justify-content-center" style="width: 100%;">
                <div class="col-md-12 col-lg-6 mb-6 mb-md-0" style="width: 100%;">
                    <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                        404
                    </h1>
                    <p class="fs-4 mb-4">
                        The page you were looking for does not exist.
                    </p>
                    <a href="/" class="btn btn-primary btn-lg">Explore Notes</a>
                </div>
            </div>
        </main>
    </div>