
<!-- <div class="container-fluid container-fluid-custom py-md-5 mb-5 h-100"> -->
<div class="container-fluid container-fluid-custom d-flex align-items-center justify-content-center" style="height: 100vh;">
    <main>
        <div class="row py-md-5 text-center justify-content-center" style="width: 100%;">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0" style="width: 100%;">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Write nodes,<br/>then write notes!
                </h1>
                <p class="fs-4 mb-4">
                    Node Note is a simple way to take notes and benefit from NodeJS adventages.
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try it, it's free!</a>
            </div>
        </div>
    </main>
</div>